<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>   
    <mapping class="scm.bulletin.board.system.persistence.entity.user.User" />
     <mapping class="scm.bulletin.board.system.persistence.entity.post.Post" />
  </session-factory>
</hibernate-configuration>